<div class=" d-none d-sm-block" style="height: 50px"></div>
<form [formGroup]="childEntryForm" #f="ngForm" (ngSubmit)="submit(f)">
  <h1 class="code-header" [innerHTML]="headingText"></h1>
  <div class="form-group row">
    <label for="first_name" class="col-sm-3 col-form-label">First Name:</label>
    <div class="col-sm-9">
      <input formControlName="firstName" id="firstName" name="firstName" type="text" class="form-control here" required minlength="3">
      <div class="form-text" *ngIf="childEntryForm.get('firstName').touched && !childEntryForm.get('firstName').valid">
        <div *ngIf="childEntryForm.get('firstName').errors.required">First Name is required</div>
        <div *ngIf="childEntryForm.get('firstName').errors.minlength">First Name must be a minimum of 3 characters</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="surname" class="col-sm-3 col-form-label">Surname:</label>
    <div class="col-sm-9">
      <input formControlName="surname" id="surname" name="surname" type="text" class="form-control here" required minlength="3">
      <div class="form-text" *ngIf="childEntryForm.get('surname').touched && !childEntryForm.get('surname').valid">
        <div *ngIf="childEntryForm.get('surname').errors.required">Surname is required</div>
        <div *ngIf="childEntryForm.get('surname').errors.minlength">Surname must be a minimum of 3 characters</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="group" class="col-sm-3 col-form-label">Group:</label>
    <div class="col-sm-9">
      <select formControlName="group" id="group" name="group" class="form-control custom-select here" required>
        <option value=""></option>
        <option *ngFor="let group of groups" value="{{ group.id }}">{{ group.name }}</option>
      </select>
      <div class="form-text" *ngIf="childEntryForm.get('group').touched && !childEntryForm.get('group').valid">
        <div *ngIf="childEntryForm.get('group').errors.required">Please selct a group</div>
      </div>
    </div>
  </div>
  <div formGroupName="days">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Days:</label>
      <div class="col-sm-9">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input formControlName="mon" name="days" id="days" type="checkbox" class="form-check-input" value="mon"> Mon
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input formControlName="tue" name="days" type="checkbox" class="form-check-input" value="tue"> Tue
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input formControlName="wed" name="days" type="checkbox" class="form-check-input" value="wed"> Wed
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input formControlName="thu" name="days" type="checkbox" class="form-check-input" value="thu"> Thu
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input formControlName="fri" name="days" type="checkbox" class="form-check-input" value="fri"> Fri
          </label>
        </div>
        <div class="form-text" *ngIf="childEntryForm.get('days').touched && !childEntryForm.get('days').valid">
          <div *ngIf="childEntryForm.get('days').errors.dayMustBeSelected">Please select days at the centre</div>
        </div>
      </div>
    </div>
  </div>


  <div [hidden]="!siblings" class="form-group row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input formControlName="siblings" name="siblings" type="checkbox" class="form-check-input" value="siblings"> Do you intend to bring additional siblings for photos?
        </label>
      </div>
    </div>
  </div>

  <div [hidden]="!friends" class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input formControlName="friends" name="friends" type="checkbox" class="form-check-input" value="friends"> Would you like photos taken with friends?
          </label>
        </div>
        <div *ngIf="childEntryForm.get('friends').value">Please add the details below</div>
      </div>
    </div>

  <div class="form-group row">
    <label for="info" class="col-sm-3 col-form-label">Any other relevant information:</label>
    <div class="col-sm-9">
      <textarea formControlName="info" id="info" name="info" cols="40" rows="5" class="form-control"></textarea>
    </div>
  </div>


  <div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
      <button (click)="navBack()" name="back" type="button" class="btn btn-primary">Back</button>
      <button [disabled]="!childEntryForm.valid" name="submit" type="submit" class="btn btn-primary">Next</button>
    </div>
  </div>
</form>