<main role="main" class="container">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <div class="home">

        <img src="assets/images/home_illustration_sml.png">

      </div>
    </div>
    <div id="wrapper" class="col-lg-9 rounded">
      <router-outlet></router-outlet>
      <!--      <code-entry-form></code-entry-form> -->
      <!-- <contact-entry-form></contact-entry-form> -->
      <!-- <child-entry-form></child-entry-form> -->
    </div>
  </div>
</main>


<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-none d-lg-block">

      </div>
      <div class="col-lg-9">
        <span class="text-muted">
          <p>
            <a href="mailto:%74%75%65%73%64%61%79@%6c%69%74%74%6c%65%77%6f%72%6c%64%70%68%6f%74%6f%67%72%61%70%68%79.%63%6f%6d.%61%75">info@littleworldphotography.com.au</a>
            &nbsp;.&nbsp; Kindergarten, Preschool &amp; Childcare Photography, Australia.
            <br>© Little World Photography 2018.
          </p>
        </span>
      </div>
    </div>
  </div>
</footer>